@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">

    var win;

    $(document).ready(function () {
        var service = getUrlParameter('service');
        var result = getUrlParameter('result');

        if (service !== null && service.length > 0) {
            document.getElementById('result').innerHTML += "<br/>" + service + " auth result is " + result;
            document.getElementById('result').innerHTML += "<br/>now processing your profile data...";
        }

        var sliderB = new Slider("#loan_discount", {
            min: 0,
            max: 2,
            ticks: [0, 1, 2],
            ticks_labels: ["0.0%", "1.0%", "2.0%"],
            ticks_snap_bounds: 0.1,
            ticks_tooltip: true,
            formatter: function (value) {
                return value;
            },
            step: 0.1,
            value: 0.5,
            precision: 2,
            orientation: 'vertical',
            reversed: true,
            tooltip_position: 'right'
        });

        sliderB.disable();
    });

    window.setActive = function (service, result) {
        console.log(service, result);
    }

    function onclick_submit_test(service) {
        win = window.open("../Popup/?service=" + service, "_blank", "height=600, width=750, status=yes, toolbar=no, menubar=no, location=no, addressbar=no");
    }

</script>

<div class="row mt-4 pt-4 pb-4 mb-4">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Please, connect as many as possible data providers.<br />
                    <small>The more data you share, the better discount on the interest rate and better chance to be approved for the loan you get</small>
                </h3>
            </div>
        </div>
        <div class="row services mt-4">
            <div class="col-md-6 pl-0 pr-0">
                <div class="col-md-12">
                    <h4>Social networks</h4>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-service LinkedIn" type="button" onclick="onclick_submit_test('LinkedIn')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=LinkedIn" alt="LinkedIn" />
                    </button>
                    <button class="btn btn-service Facebook testing" type="button" onclick="onclick_submit_test('Facebook')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=Facebook" alt="Facebook" />
                    </button>
                    <button class="btn btn-service VKontakte" type="button" onclick="onclick_submit_test('VKontakte')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=VKontakte" alt="VKontakte" />
                    </button>
                    <button  class="btn btn-service GooglePlus" type="button" onclick="onclick_submit_test('GooglePlus')">
                        <img class="img-responsive" src="~/Content/img/logos/gp.svg" />
                    </button>
                    <button>
                        <img class="img-responsive" src="~/Content/img/logos/inst.png" />
                    </button>
                </div>
            </div>
            <div class="col-md-6 pl-0 pr-0">
                <div class="col-md-12">
                    <h4>Cloud Storages</h4>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-service GoogleDrive" type="button" onclick="onclick_submit_test('GoogleDrive')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=Google" alt="GoogleDrive" />
                    </button>
                    <button class="btn btn-service Dropbox" onclick="onclick_submit_test('Dropbox')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=Dropbox" />
                    </button>
                    <button class="btn btn-service Box testing" onclick="onclick_submit_test('Box')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=Box" />
                    </button>
                    <button class="btn btn-service SugarSync" onclick="onclick_submit_test('SugarSync')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=SugarSync" />
                    </button>
                    <button class="btn btn-service BaiduBCS"  onclick="onclick_submit_test('BaiduBCS')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=BaiduBCS" />
                    </button>
                </div>
            </div>
        </div>
        <div class="row services mt-4">
            <div class="col-md-6 pl-0 pr-0">
                <div class="col-md-12">
                    <h4>Payment services</h4>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-service Stripe" onclick="onclick_submit_test('Stripe')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=Stripe" alt="Stripe" />
                    </button>
                    <button class="btn btn-service LiqPay" onclick="onclick_submit_test('LiqPay')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=LiqPay" alt="LiqPay" />
                    </button>
                    <button class="btn btn-service PayPal testing" onclick="onclick_submit_test('PayPal')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=PayPal" alt="Stripe" />
                    </button>
                   <button class="qiwi" data-service-type="qiwi">
                        <img class="img-responsive" src="~/Content/img/logos/qiwi.png" />
                    </button>
                    @*button>
                        <img class="img-responsive" src="~/Content/img/logos/skrill.png" />
                    </button>*@
                </div>
            </div>
            <div class="col-md-6 pl-0 pr-0">
                <div class="col-md-12">
                    <h4>E-commerce platforms</h4>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-service PrestaShop" onclick="onclick_submit_test('PrestaShop')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=PrestaShop" alt="PrestaShop" />
                    </button>
                    <button class="btn btn-service Shopify testing" onclick="onclick_submit_test('Shopify')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=Shopify" alt="Shopify" />
                    </button>
                    <button class="btn btn-service Amazon" onclick="onclick_submit_test('Amazon')">
                        <img class="img-responsive" src="https://socialpilot.bnesis.com/api/Resources/GetProviderIcon?providerId=Amazon" alt="Amazon" />
                    </button>
                    <button class="allegro">
                        <img class="img-responsive" src="~/Content/img/logos/allegro.png" />
                    </button>
                    <button class="">
                        <img class="img-responsive" src="~/Content/img/logos/ebay.png" />
                    </button>
                    <button class="">
                        <img class="img-responsive" src="~/Content/img/logos/etsy.png" />
                    </button>
                    <button class="">
                        <img class="img-responsive" src="~/Content/img/logos/mag.png" />
                    </button>
                    <button class="">
                        <img class="img-responsive" src="~/Content/img/logos/ali.png" />
                    </button>
                    <button class="">
                        <img class="img-responsive" src="~/Content/img/logos/woo.svg" />
                    </button>

                </div>
            </div>
        </div>
        <div class="row services mt-4">
            <div class="col-md-6 pl-0 pr-0">
                <div class="col-md-12">
                    <h4>Analytics services</h4>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-service GoogleDrive testing" onclick="onclick_submit_test('GoogleAnalytics')">
                        <img class="img-responsive" src="~/Content/img/logos/googan.png" alt="GoogleAnalytics" />
                    </button>
                    <button class="yam">
                        <img class="img-responsive" src="~/Content/img/logos/yam.png" />
                    </button>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="row">
            <div class="col-md-12 mt-4">
                <h5>Loan interest rate discount meter</h5>
            </div>
            <div class="col-md-6 col-md-offset-2 mt-4">
                <input id="loan_discount" type="text" />
            </div>
        </div>
    </div>

</div>
    <div class="row mt-4 mb-4">
        <div class="col-md-offset-3 col-md-6 pb-4">
            <button class="btn btn-lg btn-next-st4 w100p" disabled="disabled">
                SEND DATA &amp; CALCULATE
            </button>
        </div>
    </div>

    <div id="result">
    </div>
    <div class="loader" style="display:none;">
        <div class="container wrapper-def-pads">
            <div class="row pt-4 pb-4">
                <div class="col-xs-12 col-md-offset-3 col-md-6">
                    <img class="img-responsive" src="~/Content/img/loading.gif" />
                </div>
                <div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
                    <h2>WE PROCESS YOUR DATA</h2>
                </div>
            </div>
        </div>
    </div>