@{
    ViewBag.Title = "Home Page";
}

<div class="row pt-4 mt-4">
    <div class="col-md-12">
        <h2>Please authorize.</h2>
    </div>
</div>
@*<div class="row services">
    <div class="col-md-12">
        <h3>Mobile operators</h3>
    </div>
    <div class="col-md-12">
        <button>
            <img class="img-responsive" src="~/Content/img/logos/orange.jpg" />
        </button>
        <button>
            <img class="img-responsive" src="~/Content/img/logos/tmobile.png" />
        </button>
    </div>
</div>*@
<div class="row services pb-4 mb-4">
    <div class="col-md-12">
        <h3>Banks</h3>
    </div>
    <div class="col-md-12">
        <button class="bnp clickable" data-service-type="Bnp">
            <img class="img-responsive" src="~/Content/img/logos/bnpalior.jpg" />
        </button>
        @*<button>
            <img class="img-responsive" src="~/Content/img/logos/ing.jpg" />
        </button>
        <button>
            <img class="img-responsive" src="~/Content/img/logos/wbk.png" />
        </button>
        <button>
            <img class="img-responsive" src="~/Content/img/logos/privat24a.png" />
        </button>
        <button>
            <img class="img-responsive" src="~/Content/img/logos/otp.png" />
        </button>
        <button>
            <img class="img-responsive" src="~/Content/img/logos/abank.png" />
        </button>
        <button>
            <img class="img-responsive" src="~/Content/img/logos/bnpp.png" />
        </button>*@
    </div>
</div>
@*<div class="row services">
    <div class="col-md-12">
        <h3>Public ID</h3>
    </div>
    <div class="col-md-12">
        <button class="orange">
            <img class="img-responsive" src="~/Content/img/logos/id.jpg" />
        </button>
    </div>
</div>*@